*{
	margin: 0;
	padding: 0;
}

header{
	background: #765;
	height: 150px;
position: relative;
}

#logo{
	width: 220px;
	height: 130px;
	position: relative;
	top: 10px;
	left: 50px;
	background-image: url("314848979085211.png");
	background-size: cover;
}

header h1{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#parallax{
	height: 80vh;
	background-image: url("34800930.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	position: relative;
}

#parallax div{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 300px;
	background-image: url("314848979085211.png");
	background-size: cover;
}

nav{
	background: #999;
	height: 50px;
	text-align: center;
	position: sticky;
	top: 0;
	z-index: 999;
}

nav a{
	color: #359;
	text-decoration: none;
	font-size: 26px;
	margin: 0 20px;
	line-height: 50px;
	transition: 2s;
}

nav a:hover{
	color: #9213;
}

body{
/*height: 400px;*/
}

#section1{
	background: #8a2be2;
}

section{
	min-height: 400px;
	padding: 50px;
}
                                                                               
section h1{
	text-align: center;
	margin-bottom: 10px;
}
#section2{
	background: #4fc3f7;

}

.container{
	width: 80%;
	margin: auto;
}

.img_left img{
float: left;
width: 50%;
margin-right: 30px;
}

.clear{
	clear: both;
}

.img_left p,.img_right p{
text-align: justify;
font-size: 25px;
text-indent: 20px;	                                                                      	
}

.img_right img{
	float: right;
	width: 70%;
	margin-left: 30px;
}

.img_left, .img_right{
	padding-bottom: 20ex;
}

.slider{
	position: relative;
	width: 80%;
	/*height: 600px;*/
	margin: auto;
	margin-bottom: 15px;
	overflow: hidden;
}

.slides{
	display: flex;
	width: 400%;
	height: 100%;
}

input[name="r"]{
	visibility: hidden;
	position: absolute;
}

.slide{
	width: 25%;
	transition: 0.5s;
}

.slide img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.navigation{
	display: flex;
	position: absolute;
	bottom:20px;
	left: 50%;
	transform: translateX(-50%);

}


.navigation label{
	width: 30px;
	height: 15px;
	background: #AF45B9;
	margin: 0 10px;
	border-radius: 50%;
	cursor: pointer;
}

.navigation label:hover{
	background: #72d7ed; 
	transform: scale(1.2);
}


#r1:checked ~ .s1{
	margin-left: 0;
}

#r2:checked ~ .s1{
	margin-left: -25%;
}

#r3:checked ~ .s1{
	margin-left: -50%;
}

#r4:checked ~ .s1{
	margin-left: -75%;
}

#section3{
	background: #0e7512fd;
	position: relative;
}

#section4{
	background: #AA1803;

}

footer{
background: #1D0F0F;
height: 200px;
color: #D4DBE2;
position: relative;
}

footer div{
	position: absolute;
	left: 50%;
	top:50%	;
	transform: translate(-50%,-50%);
	text-align: center;
}